body {
    background-color: #1f2937;

}

.header_container {
    display: flex;
    margin: 0 12rem;
}

.logo {
    flex: 1 1 auto;
    color: #f9faf8;
    font-size: 24px;
    align-self: flex-start;
}
ul {
    list-style: none;
    display: flex;
    color: #e5e7eb;
    font-size: 18px;
    gap: 1em;
    align-items: center;
}

a {
    color: #e5e7eb;
    font-size: 18px;
}
a:link {
    text-decoration: none;
}

.containerOne {
    display: flex;
    margin: 0 12rem;
    gap: 2em;
    justify-content: space-between;
}

.hero_main_text {
   font-size: 48px;
   color: #f9faf8; 
}

.hero_secondary_text {
    font-size: 18px;
    color: #e5e7e8;
}

button {
    background-color: #3882f6;
    width: 10em;
    height: 2.5em;
    color: #e5e7e8;
    font-weight: 700;
    border-radius: 0.5em;
    padding: 0;
    margin: 2em 0;
    font-size: medium;
}